<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%# binding.pry %>
        <%= @user.name %></br>
        Followers: <%= @user.followers.count %></br>
        Following: <%= @user.following.count %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    Songs:
    <% @user.songs.each do |song| %>
      <h3><%= song.name %> by <small class="artist_name"><%= link_to song.user.name, song.user %></small></h3>
      <div class="btn html5 play-button">
        <%# binding.pry %>
        <a href="#" artist=<%= raw song.user.name.to_json %> genre=<%= raw song.genre.to_json %> title=<%= raw song.name.to_json %> music-file=<%= rails_blob_path(song.mp3_file) %> image-file=<%= rails_blob_path(song.image_file.attachment) %>>Play</a>
      </div>
    <% end %>

  </div>
  <%= render partial: 'shared/music_player', locals: {:@songs => @user.songs} %>
</div>