<h1>All Songs</h1>

<% @songs.each do |song| %>
  <h3><%= song.name %> by <small class="artist_name"><%= link_to song.user.name, song.user %></small></h3>
  <div class="btn html5 play-button">
    <%# binding.pry %>
    <a href="#" artist=<%= raw song.user.name.to_json %> genre=<%= raw song.genre.to_json %> title=<%= raw song.name.to_json %> music-file=<%= rails_blob_path(song.mp3_file) %> image-file=<%= rails_blob_path(song.image_file.attachment) %>>Play</a>
  </div>
<% end %>

<%= render 'shared/music_player', object: @songs %>